* {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f6f6ed;
}

/*#cssBayan {*/
/*    margin: 201px auto;*/
/*    width: 78%;*/

/*}*/


/*#cssBayan li {*/
/*    list-style: none;*/
/*    margin-bottom: 20px;*/
/*    border-radius: 4px;*/
/*    background: white;*/
/*    color:black;*/
/*    cursor: pointer;*/
/*}*/


/*#cssBayan li label {*/
/*    padding: 10px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    font-size: 37px;*/
/*    font-weight: 700;*/
/*    cursor: pointer;*/
/*}*/


/*#cssBayan label + input[type="radio"] {*/
/*    display: none;*/
/*}*/

/*#cssBayan .cssBayanContent {*/
/*    max-height: 0;*/
/*    overflow: hidden;*/
/*    text-align: center;*/
/*    transition: max-height 0.5s;*/

/*}*/

/*#cssBayan .cssBayanContent img {*/
/*    height: 20%;*/
/*    width: 20%;*/
/*}*/

/*#cssBayan label + input[type="radio"]:checked + .cssBayanContent {*/
/*    max-height: 100%;*/

/*}*/

/*#cssBayan label:hover + input[type="radio"] + .cssBayanContent {*/
/*    max-height: 100%;*/
/*}*/


#cssBayan {
    margin: 201px auto;
    width: 78%;
}


#cssBayan .block{
    margin-bottom: 20px;
    border-radius: 4px;
    background: white;
    color:black;
    cursor: pointer;
}

#cssBayan .block label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 37px;
    font-weight: 700;
    cursor: pointer;
}

.block label + input[type="radio"] {
    display: none;
}

#cssBayan .cssBayanContent {
    max-height: 0;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.4s;
}

#cssBayan .block label + input[type="radio"]:checked + .cssBayanContent {
    max-height: 100%;
}

#cssBayan label:hover + input[type="radio"] + .cssBayanContent {
    max-height: 100%;
}
